<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome</title>
     
        
        <!--Bootstrap css -->
        <link type="text/css" rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/swiper.min.css">
        
        <!--Theme custom css -->
        <link type="text/css" rel="stylesheet" href="../static/css/style.css">
        <link type="text/css" rel="stylesheet" href="../static/css/sidebar.css">
        <link type="text/css" rel="stylesheet" href="../static/css/responsive.css">
       
        
        <!-- tether.io required for bootstrap4. -->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        
        
        <!-- Bootstrap and jQuery JavaScript -->
        <script src="../static/js/plugins/jquery-3.2.1.js"></script>
        <script src="../static/js/plugins/bootstrap.min.js"></script>
     
     
        <!-- Pluginscript -->
        <script src="../static/js/plugins/swiper.min.js"></script>
        <script src="../static/js/plugins/swiper.esm.js"></script>
        <script src="../static/js/plugins/swiper.esm.bundle.js"></script>
        
        
        <!-- Custom scripts for this template -->
        <link type="text/css" rel="stylesheet" href="../static/css/modal.css">
        <script type="text/javascript" src="../static/js/chargingsystem.js"></script>
        <script type="text/javascript" src="../static/js/revenuemanager.js"></script>
        
        
        <script type="text/javascript" src="../static/js/main.js"></script>
        <!-- <style type="text/css">
            .modal-content iframe{
                margin: 0 auto;
                display: block;
            }
        </style> -->
    </head>