    <!-- Sidebar -->
    <div class="sidebar-fixed">
            <ul class="sidebar-nav L2">
                <li>
                    <a id="about" class="" href="/site/about.html">About us</a>
                </li>
                <li>
                    <a id="confrooms" class="" href="../views/site/confrooms.html">Find conference rooms</a>
                </li>
                <li>
                    <a id="leadership" class="{{leadership.active}}" href="{{leadership.url}}">Site leadership team</a>
                </li>
                <li>
                    <a id=".." class="" href="">...</a>
                </li>
                <br><br>
                <li>
                    <a id="back" href="/enter">Back to start</a>
                </li>
            </ul>
        </div>
        