 <div id="sidebar-fixed">
    <ul class="mainsidebar-nav">
        <!-- <li class="sidebar-brand"></li> -->
        
        <li>
                <a id="KA" href="/ka">Ericsson Karlskrona</a>
        </li>
        <h1>BSS</h1>
        <li class="indent">
            <a id="RM" href="/rm">    Revenue Manager</a>
        <li>
        <li class="indent">
            <a id="CS" href="/cs">    Charging System</a>
        </li>
        <li class="indent">
                <a id="MCOM" href="/mcom">M-commerce</a>
        </li>
        
        <h1>OSS</h1>
        <li class="indent">
            <a id="EDA" href="/eda">      Dynamic Activation</a>
        </li>
        
       <h1>Services</h1>
        <li class="indent">
            <a href="#">     BSS Service Delivery</a>
        </li>
        <li class="indent">
            <a href="#">     IT Near Services</a>
        </li>
        <li>
            <a href="/test">Contact</a>
        </li>
        
    </ul>
    <!-- <div>
            <img class="bottom-logo" src="../static/images/Elogo_white.png">  
        </div> -->
</div>
