    <!-- Sidebar -->
<div class="sidebar-fixed">
    <ul class="sidebar-nav L2">
        <li>
            <a id="what" class="{{what.active}}" href="{{what.url}}">The functionality</a>
        </li>
        <li>
            <a id="who" class="{{who.active}}" href="{{who.url}}">Our roles</a>
        </li>
        <li>
            <a id="how" class="{{how.active}}" href="{{how.url}}">The architecture</a>
        </li>
        <li>
            <a id="where" class="{{where.active}}" href="{{where.url}}">Where you find us</a>
        </li>
        <br><br>
        <li>
            <a id="back" href="/enter">Back to start</a>
        </li>
    </ul>
</div>
