<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>    
   
       <!--Theme custom css
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/responsive.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/modal.css">
            

</head> -->

{{>head}}
<body class="L0">
{{>header}}
Welcome to Ericsson Karlskrona
<!-- <body class="L0"> -->
    <div class="container-fluid">
        <!-- <div class="container"> -->
            <div class="row">
                    <div class="col-sm-2 L1">
                            <!-- <div class="top-logo">
                                <img class="top-logo" src="../static/images/This is EricssonKarlskrona.png " alt="">
                            </div> -->
                            {{>mainsidebar}}   
                           
                        </div>

                <div class="col-sm-10 L1">
                        <!-- <div class="container-fluid"> -->
                                <div id="carouselExampleIndicators" class="carousel slide carousel-fade ">
                                    <!-- <div class="row">
                                        <ol class="carousel-indicators">
                                            
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        </ol>
                                    </div> -->
                                    <div class="row">
                                        <div class="carousel-inner" role="listbox">
                                            <div id="1" class="carousel-item active">
                                                <img class=" carousel-img" src="../static/images/carousel/Group 1.png" alt="First slide">
                                            </div>
                                          <div id="2" class="carousel-item">
                                                <img class=" carousel-img" src="../static/images/carousel/Group 2.png" alt="Second slide">
                                            </div>
                                            <div id="3" class="carousel-item">
                                                    <img class="  carousel-img" src="../static/images/carousel/Group 3.png" alt="Second slide">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                          </a>
                                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                          </a>
                                </div>
                        <!-- </div>   -->
                </div>
              
            </div>
        <!-- </div> -->
    </div>
<!-- </body> -->

<!-- <script src="../static/js/plugins/jquery-3.2.1.js"></script> -->

    <!-- tether.io required for bootstrap4. -->
<!-- <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script> -->


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->

<!-- Custom scripts for this template -->
<!-- <script type="text/javascript" src="../static/js/main.js"></script> -->

<!-- </script> -->
</html>