<html>
    {{>head}}
    <body class="L0">
    {{>header}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                    {{>sidebar}}   
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="container component-container">
                            
                            <div id="customermanagement" class="component" data-component="customermanagement"> 
                                Customer management
                            </div>
                            <div id="bonus" class="component">
                                Bonus and loyalty
                            </div>
                            <div id="rating" class="component">
                                Rating and Balance Management
                            </div>
                            <div id="policy" class="component">
                                Policy management
                            </div>
                            <div id="usercom" class="component">
                                User communication
                            </div>
                            <div id="prodcreate" class="component">
                                Product Creation
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="descrheading" class="container component-container">
                                    
                                    <div id="description">

                                    </div>
                            </div>
                        </div>
                </div>
            </div>
           
        </div>
    </div>
    </body>
</html>