<html>
        {{>head}}
            <body class="L0">
                    
            {{>header}}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2 L1">
                                {{>sidebar}}   
                        </div>
                        <div class="col-sm-10 L1" style="background-image:url({{product_img}}); background-repeat:no-repeat; background-size:cover" >
                            
                            
                            <div class="swiper-container" style="width: 1500px;height:1000px;margin-top:400px">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="carousel_feature" data-whatever="fiveG" data-toggle="modal" data-target="#whatModal">
                                        <div>
                                            <video autoplay loop class="video-indiv" muted>
                                                    <source src="../static/images/rm/functions/city_RM.mp4" type="video/mp4">
                                            </video>
                                            <div class="carousel-content">
                                                    <h1>{{result.fiveG.heading}}</h1>
                                                    <p>{{result.fiveG.intro}}</p>
                                            </div>
                                            <button class="btn btn-lg btn-primary readmorebutton">Read more</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="carousel_feature" data-whatever="invoicing" data-toggle="modal" data-target="#whatModal" style="background-image:url({{result.invoicing.properties.img}})">
                                        <div class="carousel-content">
                                            <h1>{{result.invoicing.heading}}</h1>
                                            <p>{{result.invoicing.intro}}</p>
                                        </div>
                                        <button class="btn btn-large btn-primary readmorebutton">Read more</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="carousel_feature" data-whatever="collaboration" data-toggle="modal" data-target="#whatModal" style="background-image:url({{result.invoicing.properties.img}})">
                                        <div class="carousel-content">
                                            <h1>{{result.collaboration.heading}}</h1>
                                            <p>{{result.collaboration.intro}}</p>
                                        </div>
                                        <button class="btn btn-large btn-primary readmorebutton">Read more</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="carousel_feature" data-whatever="fiveG" data-toggle="modal" data-target="#whatModal" style="background-image:url({{result.invoicing.properties.img}})">
                                        <div class="carousel-content">
                                            <h1>{{result.collaboration.heading}}</h1>
                                            <p>{{result.collaboration.intro}}</p>
                                        </div>
                                        <button class="btn btn-large btn-primary readmorebutton">Read more</button>
                                    </div>
                                </div>
                                  
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next" style="width: 800px"></div>
                            <div class="swiper-button-prev" style="width: 800px"></div>
                    
                        <!-- Bootstrap modal -->
                        <div class="modal fade" id="whatModal" tabindex="-1" role="dialog" aria-labelledby="whatModalLabel">
                            <div class="modal-dialog modal-xl" >
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                        <h1 class="modal-title"></h1>
                                    </div>
                                    <div id="description">
                                        <p class="modal-description"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="closebutton" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                 <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="../static/js/plugins/materialize.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  
  <!-- <script src="js/init.js"></script> -->
  <script>
	  
	//    $(document).ready(function(){
    //         $('.carousel').carousel();
    // });

    var swiper = new Swiper('.swiper-container', {
        effect: 'cube',
        grabCursor: true,
        loop: true,
        cubeEffect: {
          shadow: true,
          slideShadows: true,
          shadowOffset: 150,
          shadowScale: 1.2,
        },
        
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        
      },

      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
      });
  	  
  </script>
            </body>
        </html>