<html>
{{>head}}
    <body class="L0">
        {{>header}}
      
        <div class="container-fluid">
            <div class="row">
                <div id="col2" class="col-sm-2">
                {{>sidebar}}   
                </div>
              
                <div class="col-sm-10 L1">
                    <div class="row">
                        <div class="col-sm-3 L2" align="center">
                            <div data-map="productmanager" class="pic" id="productmanager">
                                <img class="roleimg pulse" src="../static/images/rm/roles/tommy1.png"><i class="material-icons"></i><br>
                                <button class="role-btn">Product Manager </button>
                            </div>
                        </div>
                        
                        <div class="col-sm-3 L2" align="center">
                            <div data-map="architect" class="pic" id="developer">
                                <img class="roleimg" src="../static/images/rm/roles/1.jpg"><br>
                                
                            </div> 
                            <button class=" role-btn">Architect </button>
                        </div>
                        
                        <div class="col-sm-3 L2" align="center">
                            <div  data-map="programmanager" class="pic" id="programmanager">
                                <img class="roleimg" src="../static/images/rm/roles/tommy1.png"><br>
                                <button class=" role-btn">Program Manager </button>
                            </div>
                        </div>


                        <div class="col-sm-3 L2" align="center">
                            <div  data-map="programmanager" class="pic" id="programmanager">
                                <img class="roleimg" src="../static/images/rm/roles/tommy1.png"><br>
                                <button class=" role-btn">Architect </button>
                            </div>
                        </div>

                        <div class="col-sm-3 L2" align="center">
                                <img class="roleimg"src="../static/images/rm/roles/tommy1.png"><br>
                                <button class=" role-btn">Tester </button>
    
                        </div>
                        <div class="col-sm-3 L2" align="center">
                            <img class="roleimg"src="../static/images/rm/roles/tommy1.png"><br>
                            <button class=" role-btn">Product Manager </button>
                            
                        </div>
                        <div class="col-sm-3 L2" align="center">
                            <img class="roleimg"src="../static/images/rm/roles/tommy1.png"><br>
                            <button class="role-btn">Product Manager </button>
                            
                        </div>
                        <div class="col-sm-3 L2" align="center">
                            <img class="roleimg"src="../static/images/rm/roles/tommy1.png"><br>
                            <button class="role-btn">Product Manager </button>
                            
                        </div>
                        <div class="col-sm-3 L2" align="center">
                                <img class="roleimg" src="../static/images/rm/roles/tommy1.png"><br>
                                <button class=" role-btn">Product Manager </button>
                                
                        </div>
                    </div>
                </div>
            
                <div id="mySidenav" class="sidenav">
                        <!-- <href="javascript:void(0)" class="closebtn" onclick="closeslider()">&times;</a> -->
                        <img class="activeimg" src="" align="center">
                        <h1 class="sidebar-header"> Header</h1>
                        <p class="sidebar-content">Here comes the content</p>
                </div>
                    <!-- <div class="L1 "> -->
                            
                        <!-- <button type="button" class="btn btn-lg"></button>
                                <div class="svg">
                                <svg class="svgobj" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 298.27 296.21"><defs>
                                        <image id="image" width="278" height="278" xlink:href="../static/images/tommy2.png"/></defs><title>Resurs 8</title><g id="Lager_2" data-name="Lager 2"><g id="Lager_1-2" data-name="Lager 1">
                                        <circle cx="151" cy="149.96" r="58.21" style="fill:gray;stroke:#000;stroke-miterlimit:10;stroke-width:0.2667620026080261px"/>
                                        <text transform="translate(110.28 158.54)" style="font-size:20.47039794921875px;fill:#f2f2f2;font-family:Hilda-Regular, Hilda">Cus<tspan x="32.24" y="0" style="letter-spacing:-0.007990768872973609em">t</tspan><tspan x="39.04" y="0">ome</tspan><tspan x="77.42" y="0" style="letter-spacing:-0.01998884870313996em">r</tspan></text>
                                        <image width="278" height="278" transform="translate(114.38) scale(0.26)" xlink:href="../static/images/tommy1.png"/>
                                        <use data-map="productmanager" data-target="#whomodal" data-toggle="modal" id="pic1" transform="translate(228.73 115.19) scale(0.25)" xlink:href="#image"/>
                                        <use data-map="developer" data-target="#whomodal" data-toggle="modal" id="pic2" transform="translate(209.21 36.63) scale(0.25)" xlink:href="#image"/>
                                        <use transform="translate(209.21 199.33) scale(0.25)" xlink:href="#image"/>
                                        <use transform="translate(116.23 226.67) scale(0.25)" xlink:href="#image"/>
                                        <use transform="translate(0 115.19) scale(0.25)" xlink:href="#image"/>
                                        <use transform="translate(23.44 199.33) scale(0.25)" xlink:href="#image"/>
                                        <use transform="translate(23.44 36.63) scale(0.25)" xlink:href="#image"/>
                                    </g></g></svg>
                                </div> -->
                    <!-- </div> -->
                                        
                    <div class="modal fade" id="whomodal" tabindex="-1" role="dialog" aria-labelledby="whoModalLabel">
                            <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="whomodal-title">Modal Header</h4>
                                </div>
                                <div class="whomodal-body">
                                    <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                    <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                </div>
                            
                            </div>
                        </div>


                        <!-- <div id="mySidenav" class="sidenav"> -->
                                <!-- <href="javascript:void(0)" class="closebtn" onclick="closeslider()">&times;</a> -->
                                <!-- <h1 class="sidebar-header"></h1> -->
                                <!-- <p class="sidebar-content"></p> -->
                        <!-- </div> -->
                    </div>
                    <!-- <div class="col-sm-2 L1">
                    </div> -->
            </div>
    </body>
</html>
    
    