<html>
    {{>head}}
        <body class="L0">
            {{>header}}
            
            <div class="container-fluid">
                <div class="row">
                    <div id="col2" class="col-sm-2 L1">
                    {{>ka_sidebar}}   
                    </div>
                    
                    <div class="col-sm-10 L1">
                        {{>building}}
                        <button class="floorbutton">Show all floors</button>
                    </div>    
                    
                    <div id="floordropdown" class="dropdown" align="center">
                            <!-- <href="javascript:void(0)" class="closebtn" onclick="closeslider()">&times;</a> -->
                           
                            <!-- <h1 class="sidebar-header"> Header</h1>
                            <p class="sidebar-content">Here comes the content</p> -->
                            <div>
                                {{>ps1L}}
                            </div>
                            <button id="close" type="button" class="dropdownbutton">Close</button>
                            
                    </div>
                    
                    

                    <div class="floor_modal fade"  tabindex="-1" role="dialog" aria-labelledby="whoModalLabel">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="floor_modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="floor_modal-title">Modal Header</h4>
                                    </div>
                                    <div class="floor_modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="close" type="button" class="closebutton" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </body>
</html>
            